$brand-color-purple: #6367F6;

$primary-background-color: #F9F9FA;
$secondary-background-color: #FFFFFF;
$background-color-light-purple: #EAEFFF;
$background-color-green: rgba(79, 174, 112, 0.1);
$background-color-error: rgba(208, 103, 106, 0.1);

$title-color-grey: #5A607D;
$text-color-black: #070F18;
$text-color-success: #4FAE70;

$border-color-grey: #EDEFF1;
$border-color-error: #D0676A;

$button-color-grey: #BBC1C9;

$focused-color-grey: #B8BBC8
